<div class="container mt-4">
    <h1>¿Quieres ponerte en contacto con nosotros?</h1>
    <p class="mb-4">
        Nuestros especialistas están esperando tu comunicación para brindarte la más completa asesoría. Para hablar con un profesional, diligencia el siguiente formulario de contacto
    </p>

    <div class="mb-4">
        <a href="https://wa.me/+573245898887" id="whatsapp" target="_blank">
            <i class="fab fa-whatsapp fa-3x text-success"></i>
        </a>
    </div>

    <form id="Contact" action="https://formspree.io/f/xrgreedp" method="POST" class="form-row">
        <div class="mb-3 form-group col-sm-6">
            <label for="name" class="form-label">Nombre</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-user text-primary"></i></div>
                </div>
                <input type="text" name="name" class="form-control" id="name" placeholder="Nombre">
            </div>
        </div>
        <div class="mb-3 form-group col-sm-6">
            <label for="email" class="form-label">Correo electrónico</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-at text-primary"></i></div>
                </div>
                <input type="email" name="email" class="form-control" id="email" placeholder="micorreo@mail.com">
            </div>
        </div>
        <div class="mb-3 form-group col-sm-12">
            <label for="exampleInputMessage" class="form-label">Mensaje</label>
            <textarea name="message" class="form-control" rows="4" id="message" placeholder="Mensaje..."></textarea>
        </div>

        <div class="mb-3 form-group col-sm-12">
            <p class="text-justify">
                Al completar el formulario presente en está página, estás dando el consentimiento expreso al tratamiento de tus datos (tu nombre y correo electrónico) conforme al cumplimiento del mandato legal, establecido en la Constitución Política de Colombia (arts.
                15 y 20), la Ley 1581 de 2012 y el Decreto 1377 de 201, por la cual se dictan disposiciones generales para la protección de datos personales y el tratamiento de la información, estableciendo medidas generales para garantizar la seguridad
                y privacidad adecuada de la protección de los datos personales, con el fin de evitar posibles adulteraciones, pérdidas, consultas, usos o accesos no autorizados. <br> La finalidad de esta recolectar estos datos es el
                envío de información sobre las inquietudes que surgan acerca de nuestros servicios, con la legitimación de tu consentimiento otorgado en el formulario.
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="aceptConsent">
                    <label class="form-check-label" for="aceptConsent">
							Acepto
						</label>
                </div>
            </p>
        </div>
        <div class="mb-3 form-group col-sm-12">
            <button type="submit" class="btn btn-primary" id="btnSendMessage" disabled>Enviar</button>
        </div>
    </form>
</div>

<!-- JavaScript Bundle with Popper -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    var form = document.getElementById("Contact");

    async function handleSubmit(event) {
        event.preventDefault();
        var data = new FormData(event.target);

        const name = document.getElementById('name');
        const email = document.getElementById('email');
        const message = document.getElementById('message');

        if (name.value.trim().length === 0) {
            swal("Alerta!", "Debe especificar un nombre", "info");
            return;
        }

        if (email.value.trim().length === 0) {
            swal("Alerta!", "Debe especificar un correo electrónico", "info");
            return;
        }

        if (message.value.trim().length === 0) {
            swal("Alerta!", "Debe agregar el mensaje a enviar", "info");
            return;
        }

        await fetch(event.target.action, {
            method: form.method,
            body: data,
            headers: {
                'Accept': 'application/json'
            }
        }).then(response => {
            form.reset();
            document.getElementById('btnSendMessage').setAttribute('disabled', '');
            swal("Bien!", "Gracias por contactarte con nosotros Medep.", "success");
        }).catch(error => {
            swal("Error!", "Ocurrio un error enviando la informacion, por favor intentalo mas tarde.", "info");
        });
    }
    form.addEventListener("submit", handleSubmit);

    tippy("#whatsapp", {
        maxWidth: 500,
        hideOnClick: true,
        delay: 100,
        allowHTML: true,
        animation: 'scale',
        content: `Contáctanos a través de WhatsApp`,
    });
</script>