<!-- carousel -->
<div id="carouselExampleIndicators" class="carousel slide mb-4" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="carouselSelector active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1" class="carouselSelector"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2" class="carouselSelector"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="d-block w-100 carousel-image-1"></div>
            <div class="carousel-caption d-none d-md-block">
                <h4 class="mb-4 text-white">Medicina deportiva especializada en niños y adolescentes.</h4>
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus tempora inventore amet. Tenetur, alias consequuntur.</p> -->
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-block w-100 carousel-image-2"></div>
            <div class="carousel-caption d-none d-md-block">
                <h4 class="mb-4 text-white">Medicina deportiva especializada para adultos.</h4>
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus tempora inventore amet. Tenetur, alias consequuntur.</p> -->
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-block w-100 carousel-image-3"></div>
            <div class="carousel-caption d-none d-md-block">
                <h4 class="mb-4 text-white">¡Consigue tus objetivos en el deporte de la mano de profesionales especializados!</h4>
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus tempora inventore amet. Tenetur, alias consequuntur.</p> -->
            </div>
        </div>
    </div>
    <a class="carousel-control-prev fa-2x" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
        <i class="fas fa-angle-left fa-4x" aria-hidden="true"></i>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next fa-2x" href="#carouselExampleIndicators" role="button" data-slide="next">
        <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
        <i class="fas fa-angle-right fa-4x" aria-hidden="true"></i>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- carousel -->

<div class="container">
    <div class="row">
        <div class="col-md-7 mb-4">
            <div id="containerFragmentBlog" class="w-100" style="height: 440px; overflow-y: auto;"></div>
        </div>
        <div class="col-md-5 text-center mb-4" style="height: 440px;">
            <iframe style="width: 100%; height: 440px;" src="/views/feedinstagram.html"></iframe>
        </div>
    </div>
</div>