<section class="col-12 mb-4 mt-4" id="MedicinaDeportivaPediatrica">

    <h1>Medicina deportiva para adultos</h1>
    <p class="mb-4">
        En la medicina deportiva para adultos te asesoramos si quieres mejorar tu peso, controlar tu salud y mejorar tu rendimiento en el deporte.
    </p>

    <div class="card mb-4">
        <div class="car-body p-3">
            <div class="d-sm-flex justify-content-between w-100">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12 mb-3">
                            <div class="img-medepadultos-1"></div>
                        </div>
                        <div class="col-sm-8 col-xs-12">
                            <p>
                                Beneficios pueden obtener al realizar Actividad Física o Deporte
                            </p>
                            <ul>
                                <li> Menor riesgo de enfermedades cardiovasculares.
                                </li>
                                <li>Mejor autopercepción de su salud e imagen.
                                </li>
                                <li>Mayor vitalidad, fuerza y eficiencia en habilidades de la vida diaria.
                                </li>
                                <li>Prevención de lesiones en el deporte recreativo.
                                </li>
                                <li>Optimizar su rendimiento y. Tener mejores logros en competencia.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <h1>Te ofrecemos</h1>

    <ul class="list-group">
        <li class="list-group-item"><b>CONSULTA MEDICO DEPORTIVA:</b> Valoración y prescripción de ejercicio basada en objetivos individuales para el adulto sano o con enfermedades crónicas.</li>
        <!-- <li class="list-group-item"><b>PRESCRIPCIÓN BASADA EN OBJETIVOS:</b></li> -->
        <!-- <li class="list-group-item"><b>ASESORÍAS:</b>
            <ul>
                <li>Asesoría nutricional.</li>
                <li>Practica segura de Ejercicio y Deporte.</li>
                <li>Retorno al deporte tras una lesión.</li>
            </ul>
        </li> -->
        <li class="list-group-item"><b>CONTROL DE PESO:</b> Valoración integral del paciente, definición de problemas, establecimiento de metas, seguimiento regular del proceso.</li>
        <li class="list-group-item"><b>VALORACIÓN PREPARTICIPATIVA:</b> Valoración y certificación para ingresos a academias deportivas, equipos universitarios o empresariales.</li>
        <!-- <li class="list-group-item"><b>CONSULTA MEDICO DEPORTIVA BÁSICA A DOMICILIO</b></li> -->
    </ul>

</section>