<section class="col-12 mb-4" id="MedicinaDeportivaPediatrica">

    <h1>Medicina deportiva pediátrica</h1>
    <p class="mb-4">
        En la medicina deportiva pediatrica cuidamos de aquellos niños y adolescentes que quieren iniciarse en el mundo del deporte, de una forma segura, evitando lesiones y proporcionandoles herramientas para tener los mejores resultados.
    </p>

    <div class="card mb-4">
        <div class="car-body p-3">
            <div class="d-sm-flex justify-content-between w-100">

                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12 mb-3">
                            <div class="img-medepninos-1"></div>
                        </div>
                        <div class="col-sm-8 col-xs-12">
                            <p>
                                Beneficios pueden obtener al realizar Actividad Física o Deporte
                            </p>
                            <ul>
                                <li> Incrementan la confianza en sí mismos
                                </li>
                                <li>Mejora su percepción acerca de su imagen
                                </li>
                                <li>Mejoran su rendimiento académico y deportivo
                                </li>
                                <li>Desarrollan habilidades
                                </li>
                                <li>Aumentan la adherencia a la AF durante toda la vida
                                </li>
                                <li>Mejoran su función cardiovascular, perfil lipídico, sensibilidad a la insulina (pacientes con sobrepeso u obesidad
                                </li>
                                <li>Disminuyen el riesgo de lesiones
                                </li>
                                <li>Aumentan fuerza y potencia muscular
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="car-body p-3">
            <div class="d-sm-flex justify-content-between w-100">

                <div class="container">
                    <div class="row d-sm-flex flex-row-reverse">
                        <div class="col-sm-4 col-xs-12 mb-3">
                            <div class="img-medepninos-2"></div>
                        </div>
                        <div class="col-sm-8 col-xs-12">
                            <p>
                                Si se práctica deporte de manera no segura o guiada se pueden presentar lesiones deportivas
                            </p>
                            <ul>
                                <li> Lesiones óseas en las zonas de crecimiento (enfermedad de Osgood Schlatter o enfermedad de Server)
                                </li>
                                <li>Lesiones agudas (esguinces, desgarros, lesiones de rodillas u hombro)
                                </li>
                                <li>Lesiones por sobreuso (fracturas por estrés, dolor de espalda, tendinopatías)
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <h1>Te ofrecemos</h1>

    <ul class="list-group">
        <li class="list-group-item">Consulta médica para niños y jóvenes que desean practicar algún tipo de deporte de forma segura.</li>
        <li class="list-group-item">Asesoria en actividad física para crecimiento adecuado y ganancia de habilidades en niños sanos o con condiciones especiales de salud. </li>
        <li class="list-group-item">Evaluaciones del estado de salud y condición física de niños y jóvenes. </li>
        <li class="list-group-item">Certificados médicos para la práctica deportiva segura en colegios y academias.</li>
        <li class="list-group-item">Consulta compartida con pediatría para evaluación integral del niño </li>
        <li class="list-group-item">Diagnóstico tratamiento y rehabilitación de lesiones deportivas. </li>
        <li class="list-group-item">Acompañamiento médico para retorno al deporte seguro luego de una lesión.</li>
        <li class="list-group-item">Consulta de Medicina deportiva domiciliaria. </li>
    </ul>

</section>