<!-- about -->
<section class="col-12 mb-4 mt-4" id="Nosotros">
    <h1>Acerca de nosotros</h1>
    <p>Somos Médicos Especialistas en Medicina Deportiva</p>

    <div class="container-fluid">
        <div class="row d-none d-sm-flex">
            <div class="col-12 d-flex w-100 justify-content-center">

                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary offers" id="element1" modalTitle="Prevenimos" completeText="Enfermedades y lesiones deportivas" flow="bottom">Prevenimos</button>
                    <button type="button" class="btn btn-primary offers" id="element2" modalTitle="Tratamos" completeText="Lesiones deportivas y enfermedades con actividad física como terapia coadyuvante">Tratamos</button>
                    <button type="button" class="btn btn-primary offers" id="element3" modalTitle="Rehabilitamos" completeText="Lesiones deportivas y musculoesqueléticas">Rehabilitamos</button>
                    <button type="button" class="btn btn-primary offers" id="element4" modalTitle="Asesoramos" completeText="El inicio y tu proceso para que logres tus propósitos">Asesoramos</button>
                    <button type="button" class="btn btn-primary offers" id="element5" modalTitle="Brindamos charlas" completeText="Empresas, colegios, universidades importancia de la actividad física, fitness, deporte">Brindamos charlas</button>
                    <button type="button" class="btn btn-primary offers" id="element6" modalTitle="Prescribimos" completeText="Actividad Física y Ejercicio acorde a tus objetivos">Prescribimos</button>
                </div>

            </div>
        </div>

        <div class="row d-sm-none d-xs-flex">
            <div class="col-12 d-flex w-100 justify-content-center">

                <div class="btn-group-vertical w-100" role="group" aria-label="Basic">
                    <button type="button" class="btn btn-primary offers" id="element1" modalTitle="Prevenimos" completeText="Enfermedades y lesiones deportivas" flow="bottom">Prevenimos</button>
                    <button type="button" class="btn btn-primary offers" id="element2" modalTitle="Tratamos" completeText="Lesiones deportivas y enfermedades con actividad física como terapia coadyuvante">Tratamos</button>
                    <button type="button" class="btn btn-primary offers" id="element3" modalTitle="Rehabilitamos" completeText="Lesiones deportivas y musculoesqueléticas">Rehabilitamos</button>
                    <button type="button" class="btn btn-primary offers" id="element4" modalTitle="Asesoramos" completeText="El inicio y tu proceso para que logres tus propósitos">Asesoramos</button>
                    <button type="button" class="btn btn-primary offers" id="element5" modalTitle="Brindamos charlas" completeText="Empresas, colegios, universidades importancia de la actividad física, fitness, deporte">Brindamos charlas</button>
                    <button type="button" class="btn btn-primary offers" id="element6" modalTitle="Prescribimos" completeText="Actividad Física y Ejercicio acorde a tus objetivos">Prescribimos</button>
                </div>

            </div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="car-body p-5">
            <div class="d-sm-flex justify-content-between w-100">
                <div class="mr-4">
                    <div class="image-about-1"></div>
                </div>
                <br class="d-sm-block d-xs-block">
                <div class="">
                    <h3>Enny De Los Reyes Castillo</h3>
                    <p class="m-0 p-0">Médico General Universidad del Magdalena</p>
                    <p class="m-0 p-0">Especialista en Medicina del Deporte Universidad El Bosque </p>
                    <p class="m-0 p-0">Diplomatura Medicina Deportiva Pediátrica Universidad Favaloro en curso</p>
                    <h5 class="border mt-2 p-3">
                        ¡ Un buen deportista no se construye a futuro, se construye desde pequeño colocando cada peldaño en el momento indicado y con la mayor calidad para llegar al éxito!
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="car-body p-5">
            <div class="d-sm-flex flex-row-reverse justify-content-between w-100">
                <div class="ml-4">
                    <div class="image-about-2 d-sm-block"></div>
                </div>
                <div class="text-right">
                    <h3>Andrés Beltrán Rodríguez</h3>
                    <p class="m-0 p-0">Médico General Universidad Nacional de Colombia</p>
                    <p class="m-0 p-0">Especialista en Medicina del Deporte Universidad El Bosque</p>
                    <h5 class="border mt-2 p-3">
                        ¡Comprometidos con la prevención de enfermedades y lesiones a través de los buenos hábitos de nutrición y ejercicio individualizado!
                    </h5>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- about -->