<!-- about -->
<section class="col-12 mb-4" id="Nosotros">
    <h1>Acerca de nosotros</h1>
    <p>Somos médicos especialistas en Medicina Deportiva</p>

    <div class="btn-group w-100 row justify-content-center " role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" title="Enfermedades y lesiones deportivas">Prevenimos</button>
        <button type="button" class="btn btn-primary" title="Lesiones deportivas y enfermedades con actividad física como terapia coadyuvante">Tratamos</button>
        <button type="button" class="btn btn-primary" title="Lesiones deportivas y musculoesqueléticas">Rehabilitamos</button>
        <button type="button" class="btn btn-primary" title="El inicio y tu proceso para que logres tus propósitos">Asesoramos</button>
        <button type="button" class="btn btn-primary" title="Empresas, colegios, universidades importancia de la AF, fitness, deporte">Brindamos charlas</button>
        <button type="button" class="btn btn-primary" title="Acorde a tus necesidades">Prescribimos</button>
    </div>

    <div class="card mt-4">
        <div class="car-body p-5">
            <div class="d-sm-flex justify-content-between w-100">
                <div class="mr-4">
                    <div class="image-about-1"></div>
                </div>
                <br class="d-sm-block d-xs-block">
                <div class="">
                    <p>
                        <h3>Enny De Los Reyes Castillo</h3>
                        Médico General Universidad del Magdalena <br> Especialista en Medicina del Deporte Universidad El Bosque <br> Diplomatura Medicina Deportiva Pediátrica Universidad Favaloro en curso
                    </p>
                    <h5 class="border mt-2 p-3">
                        ¡ Un buen deportista no se construye a futuro, se construye desde pequeño colocando cada peldaño en el momento indicado y con la mayor calidad para llegar al éxito!
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="car-body p-5">
            <div class="d-sm-flex flex-row-reverse justify-content-between w-100">
                <div class="ml-4">
                    <div class="image-about-2 d-sm-block"></div>
                </div>
                <div class="text-right">
                    <p>
                        <h3>Andrés Beltrán Rodríguez</h3>
                        Médico General Universidad Nacional de Colombia<br> Especialista en Medicina del Deporte Universidad El Bosque
                    </p>
                    <h5 class="border mt-2 p-3">
                        ¡Comprometidos con la prevención de enfermedades y lesiones a través de los buenos hábitos de nutrición y ejercicio individualizado!
                    </h5>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- about -->