<!-- services -->
<section class="col-12 mb-4" id="Servicios">

    <h1>¿Qué te podemos ofrecer?</h1>
    <div class="row">
        <div class="col-12">
            <div class="container-fluid">
                <div class="row mt-4">
                    <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="card mb-2 p-0" style="width: 100%;">
                            <div class="card-header m-0 p-0 w-100">
                                <div class="services-image-1"></div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Evaluación de tu estado de salud y condición física.</p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="card mb-2 p-0" style="width: 100%;">
                            <div class="card-header m-0 p-0 w-100">
                                <div class="services-image-2"></div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Atención si deseas practicar o prácticas ejercicio o deporte y sufres algún trastorno crónico</p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="card mb-2 p-0" style="width: 100%;">
                            <div class="card-header m-0 p-0 w-100">
                                <div class="services-image-3"></div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Emisión de certificados</p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="card mb-2 p-0" style="width: 100%;">
                            <div class="card-header m-0 p-0 w-100">
                                <div class="services-image-4"></div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Tratamiento y guía en la rehabilitación de lesiones</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="card mb-2 p-0" style="width: 100%;">
                            <div class="card-header m-0 p-0 w-100">
                                <div class="services-image-5"></div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Tele-orientación
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="card mb-2 p-0" style="width: 100%;">
                            <div class="card-header m-0 p-0 w-100">
                                <div class="services-image-6"></div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Consulta básica a domicilio</p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="card mb-2 p-0" style="width: 100%;">
                            <div class="card-header m-0 p-0 w-100">
                                <div class="services-image-7"></div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Asesoría y directices para el retorno al juego de forma segura</p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="card mb-2 p-0" style="width: 100%;">
                            <div class="card-header m-0 p-0 w-100">
                                <div class="services-image-8"></div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Prescripción del ejercicio</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- services -->