<!-- services -->
<section class="col-12 mb-4 mt-4" id="Servicios">

    <h1 class="mb-4">¿Qué te podemos ofrecer?</h1>
    <!-- <div class="row">
        <div class="col-12"> -->
    <div class="container mt-4">
        <div class="row w-100 justify-content-center">
            <div class="col-sm-3 mr-2 mb-4 text-center" id="element1">
                <div class="rounded-circle" style="background: url('/image/icons/icon-1.png') no-repeat center center/cover; width:140px; height:140px; margin:auto;"></div>
                <!-- <p class="card-text">Evaluación de tu estado de salud y condición física.</p> -->
                <p class="card-text">Tele-orientación.</p>
                <p><a class="d-none" modalTitle="Tele-orientación." completeText="Servicio de orientación por teleconsulta." data-toggle="modal" data-target="#exampleModal" href="javascript;;">Ver más »</a></p>
            </div>
            <div class="col-sm-3 mr-2 mb-4 text-center" id="element2">
                <div class="rounded-circle" style="background: url('/image/icons/icon-2.png') no-repeat center center/cover; width:140px; height:140px; margin:auto;"></div>
                <!-- <p class="card-text">Atención si deseas practicar o prácticas ejercicio o deporte y sufres algún trastorno crónico</p> -->
                <p class="card-text">Consulta a domicilio.</p>
                <p><a class="d-none" modalTitle="Consulta a domicilio." completeText="Valoración completa directo a su casa o su oficina." data-toggle="modal" data-target="#exampleModal" href="javascript;;">Ver más »</a></p>
            </div>
            <div class="col-sm-3 mr-2 mb-4 text-center" id="element3">
                <div class="rounded-circle" style="background: url('/image/icons/icon-3.png') no-repeat center center/cover; width:140px; height:140px; margin:auto;"></div>
                <!-- <p class="card-text">Emisión de certificados</p> -->
                <p class="card-text">Consulta presencial - Opción de consulta compartida con pediatría.</p>
                <p><a class="d-none" modalTitle="Consulta presencial - Opción de consulta compartida con pediatría." completeText="Consulta presencial (consultorio medico).<br/> <br/>Si hay alguna condición especial de salud, contamos con apoyo de pediatría para atención integral."
                        data-toggle="modal" data-target="#exampleModal" href="javascript;;">Ver más »</a></p>
            </div>
        </div>
    </div>


    <div class="container mt-4">
        <div class="row w-100 justify-content-center">
            <div class="col-sm-3 mb-4 text-center" id="element4">
                <div class="rounded-circle" style="background: url('/image/icons/icon-4.png') no-repeat center center/cover; width:140px; height:140px; margin:auto;"></div>
                <!-- <p class="card-text">Tratamiento y guía en la rehabilitación de lesiones</p> -->
                <p class="card-text">Valoración general del estado físico.</p>
                <p><a class="d-none" modalTitle="Valoración general del estado físico." completeText="¿Que podrías mejorar para contar con una mejor salud?<br/> <br/>Evaluación completa de Talla, peso, antropometría, composición corporal, postura, factores de riesgo."
                        data-toggle="modal" data-target="#exampleModal" href="javascript;;">Ver más »</a></p>
            </div>
            <div class="col-sm-3 mb-4 text-center" id="element5">
                <div class="rounded-circle" style="background: url('/image/icons/icon-5.png') no-repeat center center/cover; width:140px; height:140px; margin:auto;"></div>
                <!-- <p class="card-text">Tele-orientación</p> -->
                <p class="card-text">Valoración prepartivipativa para paciente sano o con condiciones especiales.</p>
                <p><a class="d-none" modalTitle="Valoración prepartivipativa para paciente sano o con condiciones especiales." completeText="¿Vas a practicar algún deporte o quieres iniciar un plan de actividad fisica?<br/><br/>Nuestra evaluación incluye:<ul>
                        <li>Antropometría y composición corporal.</li>
                        <li>Examen físico con enfasis cardiopulmonar y musculoesquelético.</li>
                        <li>Electrocardiograma</li>
                    </ul>" data-toggle="modal" data-target="#exampleModal" href="javascript;;">Ver más »</a></p>
            </div>
            <div class="col-sm-3 mb-4 text-center" id="element6">
                <div class="rounded-circle" style="background: url('/image/icons/icon-6.png') no-repeat center center/cover; width:140px; height:140px; margin:auto;"></div>
                <!-- <p class="card-text">Consulta básica a domicilio</p> -->
                <p class="card-text">Certificado de aptitud para colegios, academias y empresas.</p>
                <p><a class="d-none" modalTitle="Certificado de aptitud para colegios, academias y empresas." completeText="Certificación para participación en actividad física en Colegios, empresas o para ingreso a academias de formación deportiva.<br/><br/>
                    Incluye
                    <ul>
                        <li>Historia clínica, evaluación de factores de riesgo.</li>
                        <li>Examen físico completo.</li>
                        <li>Expedición de certificado y recomendaciones.</li>
                    </ul>" data-toggle="modal" data-target="#exampleModal" href="javascript;;">Ver más »</a></p>
            </div>
            <div class="col-sm-3 mb-4 text-center" id="element7">
                <div class="rounded-circle" style="background: url('/image/icons/icon-7.png') no-repeat center center/cover; width:140px; height:140px; margin:auto;"></div>
                <!-- <p class="card-text">Asesoría y directices para el retorno al juego de forma segura</p> -->
                <p class="card-text">Diagnóstico de lesiones deportivas u asesoría en rehabilitación.</p>
                <p><a class="d-none" modalTitle="Diagnóstico de lesiones deportivas u asesoría en rehabilitación." completeText="¿Te lesionaste practicando ejercicio o tu deporte?<br/><br/>
                    Realizamos diagnóstico de lesiones y generamos un plan de rehabilitación para un retorno seguro  a la práctica." data-toggle="modal" data-target="#exampleModal" href="javascript;;">Ver más »</a></p>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row w-100 justify-content-center">
            <div class="col-sm-3 mr-2 mb-4 text-center" id="element8">
                <div class="rounded-circle" style="background: url('/image/icons/icon-8.png') no-repeat center center/cover; width:140px; height:140px; margin:auto;"></div>
                <!-- <p class="card-text">Prescripción del ejercicio</p> -->
                <p class="card-text">Prescripción del ejercicio en objetivos individuales.</p>
                <p>
                    <a class="d-none" modalTitle="Prescripción del ejercicio en objetivos individuales." completeText="
                    <hr/>
                    <div class='container-fluid'>
                        <div class='row'>
                            <div class='col-sm-6'>
                                OBJETIVO SALUD
                                <ul>
                                    <li>Ejercicio por bienestar.</li>
                                    <li>Control de enfermedades crónicas.</li>
                                    <li>Control de peso y cambio en composición corporal.</li>
                                </ul>
                                Incluye:
                                <ul>
                                    <li>Planificación de ejercicio.</li>
                                    <li>Consejería Nutricional.</li>
                                    <li>Consejería en factores de riesgo.</li>
                                </ul>
                            </div>

                            <div class='col-sm-6'>
                                OBJETIVO DEPORTE
                                <ul>
                                    <li>Planificación para deporte específico.</li>
                                    <li>Mejoría de resultados.</li>
                                    <li>Prevención de lesiones.</li>
                                </ul>
                                Incluye:
                                <ul>
                                    <li>Prescripción de preparación física enfocada en objetivos deportivos.</li>
                                    <li>Consejería nutricional para entrenamiento y competencia.</li>
                                    <li>Consejería en programas de prevención de lesiones según valoración.</li>
                                </ul>
                            </div>
                        </div>
                    </div>                    
                    " data-toggle="modal" data-target="#exampleModal" href="javascript;;"></a>
                </p>
            </div>
        </div>
    </div>

</section>
<!-- services -->